@import url(https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Montserrat+Subrayada:wght@400;700&display=swap);

#submit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 8px;
  margin-top: 5vh;
}

h3 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}

h4 {
  font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.logo {
  position: absolute;
  top: 5%;
  left: 6%;
  height: 100px;
}

.logo-text {
  font-family: 'Anton', sans-serif;
  letter-spacing: 4px;
  font-size: 15px;
  position: absolute;
  top: 11%;
  left: 45%;
}


.centered {
  position: absolute;
  top: 45%;
  left: 52%;
  margin-top: -70px;
  margin-left: -9.5vh;
}

/* .home {

  background-color: black;
  background-size: 75vh;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -70px;
  margin-left: -125px;
} */

.home_shadow {
-webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
-webkit-box-shadow: rgba(0, 0, 0, .30) 0 2px 3px;
}
.home_container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;

  height: 50vh;
  width: 70vh;
  background: black;
  opacity: 75%;
  box-shadow: 1px 1px 2px #fff inset,
              -1px -1px 2px #fff inset;
  border-radius: 3px/6px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -70px;
  margin-left: -35vh;
  padding: 50px;

}

.login_container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;

  height: 50vh;
  width: 31vh;
  background: black;
  opacity: 75%;
  box-shadow: 1px 1px 2px #fff inset,
              -1px -1px 2px #fff inset;
  border-radius: 3px/6px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -70px;
  margin-left: -170px;
  padding: 50px;

}
