@import url(https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Montserrat+Subrayada:wght@400;700&display=swap);

input[type=number] {
  width: 15%;
  height: 70px;
  background: transparent;
  border-color: transparent;
  color: white;
  font-size: 70px;
  display: inline-block;
  font-family: 'Anton', sans-serif;
}

.container {
  margin-top: 10px;
  padding: 15px;
}

#minutes {
display: inline-block;
margin-left: ;
}

#seconds {
  display: inline-block;
}

span {
  font-size: 75px;
  font-family: 'Anton', sans-serif;
  padding-right: 13px;
  padding-left: 8px;
}


.my-button {
  font-family: 'Montserrat Subrayad', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 8px;
  border: none;
  border-radius: 8px;
  border-width: 1.5px;
  color: white;
  background-color: transparent;
}


/* remove arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
