.App {
  text-align: center;
  height: 100vh;
  background-image: url('./img/bg.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  margin-top: 0px;
}

.Nav-button {
  color: blue;
  padding-right: 15px;
}

a {
  color: white;
}


body, html {
  height: 100%;
}
